$white:#f9f7f7;
$gray:#dbe2ef;
$light-blue:#3f72af;
$blue:#112d4e;

.btn {
    margin-top: 20px;
    padding: 12px 18px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: border 0.3s ease-out, color 0.3s ease-out,
      background 0.3s ease-out;
    text-transform: uppercase;
    outline: none;
  }
  .btn-blue {
    color: $light-blue;
    border: 3px solid $light-blue;
    border-radius: 8px;
    background: rgba(19, 226, 202, 0);
  }
  .btn-blue:hover {
    background: $light-blue;
    color: $white;
    .link{
        color: $white;
    }
  }
