$white:#f9f7f7;
$gray:#dbe2ef;
$light-blue:#3f72af;
$blue:#112d4e;

header{
    .menu{
        h3{
            padding: 0 20px;
        }
    }
    div{

        display: flex;
        align-items: center;
        h1{
            flex-grow: 2;
        }
        h3{
            flex-grow: 1;
            margin:0;
            a{
                color: $white !important;
            }
        }
    }
}